.gallery {
  position: relative;
  margin-top: 4rem;
}

#gallery-prev,
#gallery-next {
  position: absolute;
  top: 45%;
}

#gallery-prev {
  left: 30%;
}

#gallery-next {
  right: 30%;
}

.gallery-item {
  padding: 20px;
  border: 2px solid pink;
  width: 30%;
  margin: 0 auto;
  display: none;
  
}

.gallery-item {
object-fit: contain;
}

.gallery-item img {
  width: 100%;
  height: 70vh;
  object-fit: cover;

}

.gallery-item figcaption {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-top: 1rem;
}

.gallery-item-selected {
  display: block;
}
